// Customize RevealJS font and related features
:root
  --r-main-font: Merriweather, serif
  --r-heading-font: Merriweather, serif
  --r-heading-text-transform: none
  --r-background-color: black  // Full black background
  --r-selection-background-color: #444
// Small-caps heading option
//.reveal
//  h1, h2, h3, h4, h5, h6
//    font-variant: small-caps

// Extend fragment animations to 1 second
.reveal .slides section .fragment
  opacity: 0
  visibility: hidden
  transition: all 1s ease
  will-change: initial
  &.visible
    opacity: 1
    visibility: inherit

// For debugging slide size, uncomment the following:
//.reveal .slides section
//  background: #111

// Left-justify bullets
ul, ol
  width: 100%
  box-sizing: border-box

// Formatting tools specific to this presentation
cite
  color: #c0a5c0
.columns
  width: 100%
  display: flex
  align-items: center
.column
  text-align: center !important
  max-height: 100%
  display: flex
  flex-direction: column
  align-items: center
  &.fill
    flex-basis: 0
    flex-grow: 1
    align-self: stretch
  &.space
    width: 15px
  &.arrow
    font-size: 200%
    &:before
      content: '🡆'
  > svg, > .puzzle
    flex-basis: 0
    flex-grow: 1
    align-self: stretch
table.side-by-side
  table-layout: fixed
  width: 100%
  //td
  //  width: 50%
table.compact
  td, th
    padding: 0 0.5em
table.authors
  td, th
    border-bottom: none
.font
  width: 100%
  > div
    display: inline-block
    width: 12.5%
    margin-top: -15px

.text-center
  text-align: center !important
.vertical-middle
  vertical-align: middle !important
.d-inline-block
  display: inline-block

.invert
  filter: invert(1) hue-rotate(180deg)
.url
  display: block
  font-size: 30%
  font-family: monospace
.sep
  color: #9a5b9a

.puzzle, .figure
  white-space: pre
  font-family: monospace
