section
  h1(style="font-variant: small-caps") Yin-Yang Puzzles are NP-complete
  hr
  table.authors
    tr
      td
        h4 <u>Erik Demaine</u>
      td.sep @
      td MIT
    tr
      td
        h4 <u>Jayson Lynch</u>
      td.sep @
      td U. Waterloo
    tr
      td
        h4 Mikhail Rudoy
      td.sep @
      td LeapYear Tech.
    tr
      td
        h4 Yushi Uno
      td.sep @
      td Osaka Prefecture U.

section
  h2 Grid Graph Connected Partitioning
  ul
    li (draw dual graph, input &rarr; output, Figure 1 but with cyclic solve)
    li NP-complete

section
  h2 Grid Graph Tree Partitioning
  ul
    li (draw dual graph, input &rarr; output, Figure 1)
    li NP-complete

section
  h2 Yin-Yang Puzzles
  ul
    li (fade graphic, Figure 1)
    li (interactive solve)
    li Rules
    li NP-complete
  .puzzle.r-stretch.
    oX...
    .....
    Xo.XX
    .....
    ...XX

section
  h2 Yin-Yang Font
  ul
    li Letters, CCCG, link

section
  h2 Equivalence
  ul
    li boundary cycle issue
    li no 2x2 $\Rightarrow$ no internal cycle
    li Related Lemma: no alternating 2x2 [not needed for equivalence but needed for proof]

section
  h2 History
  ul
    li Puzzle history, hardness of other puzzles
    li Partitioning PTAS etc.

section
  h2 Tree-Residue Vertex Breaking (TRVB)
  ul
    li What we reduce from
    li Definition

section
  h2 Connected Partitioning / No $2 \times 2$ Proof
  ul
    li Vertex gadget
    li Interactive solve

section
  h2 Connected Partitioning / No $2 \times 2$ Proof
  ul
    li Tilable vertex gadget
    li Routing gadgets
    li Fitting-together big figure (NEW)
  table.side-by-side
    tr
      td Vertex Gadget
      td 
      .puzzle.r-stretch.
        ooooo
        XX.oo
        oo.XX
        XX.oo
        oo.XX
        ooooo
    tr
      td Min number of swaps
      td Number of <b>inversions</b> / cost of <b>bubble sort</b>

section
  h2 Tree Partitioning / $2 \times 2$ Proof
  ul
    li Vertex gadget
    li Interactive solve?
    li Tilable vertex gadget
    li Mention alternating filler
    li Fitting-together big figure
    .puzzle.
      XoXoXoXoXoX
      XoooooXoooX
      XoX.X.X.XoX
      XoXoXoXoXoX
      Xo.......oX
      X.oXoXoXo.X
      X.oXoXoXo.X
      Xo.......oX
      XoXoXoXoXoX
      XoXoXoXoXoX
      XoXoXoXoXoX

section
  h2 Open Problems
  ul
    li ASP or #P-complete?
    li What if we give few clues?
    ul
      li Is it still NP-hard with $O(n)$ clues given?
      li Is it FPT with respect to the number of initial clues?
    li Hexagonal or triangular grids?
    li Graph/Tree partition in other graphs?

