section
  h1(style="font-variant: small-caps") Yin-Yang Puzzles are NP-complete
  hr
  table.authors
    tr
      td
        h4 <u>Erik Demaine</u>
      td.sep @
      td MIT
    tr
      td
        h4 <u>Jayson Lynch</u>
      td.sep @
      td U. Waterloo
    tr
      td
        h4 Mikhail Rudoy
      td.sep @
      td LeapYear Tech.
    tr
      td
        h4 Yushi Uno
      td.sep @
      td Osaka Prefecture U.

section(data-transition="fade", data-transition-speed="slow")
  h2 Grid Graph Connected Partition
  ul
    li Given a partially 2-colored $m \times n$ grid graph
    li Complete so that each color class is <b>connected</b>
    li.fragment <u>Theorem:</u> <b>NP-complete</b> <cite>[DLRU 2021]</cite>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.figure.
      oXXXX
      ooooX
      XooXX
      XXXXX
      XXXXX

section(data-transition="fade", data-transition-speed="slow")
  h2 Grid Graph Tree Partition
  ul
    li Given a partially 2-colored $m \times n$ grid graph
    li Complete so that each color class is <b>a tree</b>
    li <u>Theorem:</u> <b>NP-complete</b> <cite>[DLRU 2021]</cite>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.figure.
      oXXXX
      ooooX
      XoXXX
      XoooX
      XXXXX

section(data-transition="fade", data-transition-speed="slow")
  h2 Yin-Yang Puzzles
  ul
    li Complete $m \times n$ board with black/white circles:
    ol
      li Each color of circles orthogonally connected
      li No $2\times 2$ square is all the same color
  .columns.r-stretch
    .column.fill.puzzle.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.puzzle.
      oXXXX
      ooooX
      XoXXX
      XoooX
      XXXXX

section
  h2 Yin-Yang $\approx$ Tree Partition
  ul
    li Roughly equivalent to Grid Graph Tree Partition
    li Without $2 \times 2$ rule, roughly equivalent to <br> Grid Graph Connected Partition
    //li <u>Theorem:</u> Both are <b>NP-complete</b>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.puzzle.
      oX...
      .....
      Xo.XX
      .....
      ...XX

section
  h2 Yin-Yang $\approx$ Tree Partition
  ol
    li Connectivity properties are the same. Acyclic?
  hr
  table.side-by-side
    tr
      td 2. No $2 \times 2$ $\Rightarrow$ no 4-cycle
      td 3. <u>Lemma:</u> <br> no alternating $2 \times 2$
      td 4. $>4$-cycle separates, except at the boundary
    tr
      td.puzzle(style="height:200px").
        XX
        XX
      td.puzzle(style="height:200px").
        oX
        Xo
      td.puzzle(style="height:300px").
        ooo
        oXo
        ooo

section
  h2 Our Results
  ul
    li <b>Yin-Yang is NP-complete</b>
    li Grid Graph Tree Partition is NP-complete
    li Yin-Yang without $2 \times 2$ rule is NP-complete
    li Grid Graph Connected Partition is NP-complete
    ul
      li Reductions from <b>Tree-Residue Vertex Breaking (TRVB)</b>
    li Yin-Yang <b>font</b>

section
  h2 Yin-Yang Font
  .font
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoooooXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXXXo
      oXXXooooo
      oooXoXXXo
      oXXXoXoXo
      oooXoooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXXXo
      oXoXooooo
      oXoXoXXXo
      oXoXXXoXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      ooXooooXo
      oXXXXXoXo
      ooXooooXo
      oXXXXXoXo
      ooXooooXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      ooXoooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXoXXXo
      oXoXoXoXo
      oXoXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooXoXo
      oXXXoXoXo
      oooooXoXo
      oXXXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooXoXo
      oXXXXXoXo
      oooooooXo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoXoooXo
      oXoXoXoXo
      oXoXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXooo
      oXoXoXXXo
      oXoXooooo
      oXoXXXXXo
      oXooooooo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXoXXo
      oXooXooXo
      oXXoXXoXo
      oXoooXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooXoXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXXXo
      oooXooooo
      oXXXXXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoooooXo
      oXXXXXoXo
      oooooooXo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXXXo
      oXXXoXooo
      oooXoXXXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXoXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
      oXXXXXXXo
      oooooooXo
      oXXXXXoXo
      oXoooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXooooooo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXXXoXo
      oXooXooXo
      oXXoXoXXo
      ooXoXoXoo
      oXXoXoXXo
      ooXoooXoo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoooooXo
      oXXXXXXXo
      ooooXoooo
      oXXXXXXXo
      oXoooooXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXoooooXo
      oXXXoXXXo
      oooXoXooo
      oXoXoXoXo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
      oXoXXXXXo
      oXoooooXo
      oXXXXXXXo
      oXooooooo

section
  h2 Yin-Yang Font
  .font
    .puzzle.
      .........
      .........
      ...ooo...
      ..o...o..
      ..oX.o...
      ..o......
      ...o.o...
      ..o.o.o..
      ....o....
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      .........
      .o.X.o...
      ....o....
      .o.Xo.X..
      .....ooo.
      .oo.o.X..
      ....o....
      .oo..o...
      ..X......
      oX.......
    .puzzle.
      .........
      .........
      ...ooo...
      ..o...o..
      ..o.o....
      ..o..ooo.
      ..o...X..
      ..o.X..X.
      .......X.
      ..o.XXX..
      oXo......
    .puzzle.
      .........
      .........
      ..X.oo...
      ......o..
      ..X.oo...
      ......o..
      .oX.oo...
      ......o..
      .ooooo...
      ...X.....
      .oX......
    .puzzle.
      .........
      .....XX..
      ...o...X.
      ..o..XX..
      ..o.oooo.
      ..o......
      ..oX.ooo.
      ..o......
      ...ooo.X.
      ..o......
      oX.o.....
    .puzzle.
      .........
      ......X..
      ...oo..X.
      ..o.XXX..
      ..oX.....
      ..o.XXX..
      .......X.
      ..o.X.X..
      ..oX.X.X.
      ..o......
      oX.o.....
    .puzzle.
      .........
      ......X..
      ...oo..X.
      ..o...X..
      ..o..ooo.
      ..o.o.X..
      ..o.o....
      ..o...o..
      .o.ooo...
      ..X......
      oX.......
    .puzzle.
      .........
      ..X.o.X..
      ....oX.X.
      ..o.o....
      ...o.o...
      ..o......
      ..o.oX.X.
      ..o.oX.X.
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      ..X.X....
      ...X.X.o.
      ..X......
      ...X.X.o.
      ..X..XX..
      .o.X.X...
      ......X..
      .o.X.X...
      ..X...X..
      ...X.....
    .puzzle.
      .........
      .........
      ..oo..o..
      ....o.o..
      .ooo..o..
      ..X.o.o..
      .X.Xo.o..
      ....o.o..
      ...o..o..
      ......o..
      ......oXo
    .puzzle.
      .........
      ....o.X..
      ..o.o....
      ..o..o...
      ..o......
      ..oX.ooo.
      ..o......
      ..o..o...
      ..o.o....
      ..o.o.X..
      oX.o.....
    .puzzle.
      .........
      ..X...X..
      .X.Xo....
      .X.Xo.o..
      .X.Xo..o.
      ....o....
      ..o..ooo.
      ..o......
      ...ooooo.
      ..X..X...
      oX.......
    .puzzle.
      .........
      ..X.o.X..
      .X.Xo....
      .X.Xo.o..
      ....o.o..
      ..o.o.o..
      ..o.o.o..
      ..o...o..
      ..oX.Xo..
      ..o.X.o..
      oX.o.....
    .puzzle.
      .........
      ....o....
      ..o.o.o..
      ..o.o....
      ..oX.o...
      ...o.....
      ...o..o..
      .........
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      .........
      ...ooo...
      ..o.X.o..
      ..o...o..
      ..o.o.o..
      ...o..o..
      ......o..
      .ooooo...
      ..X....X.
      oX.......
    .puzzle.
      .........
      .........
      .oo..o...
      ....o.o..
      .oo.o.o..
      ....o....
      .oo.oX.X.
      ..X.o.X..
      ...X.ooo.
      ..X.X....
      ...X.....
    .puzzle.
      .........
      .........
      ...ooo...
      ..o.X.o..
      ..o...o..
      ..o.o.o..
      ..o..o...
      ..o......
      ...ooo...
      ......o..
      .....o.Xo
    .puzzle.
      ......o..
      .........
      .oo..o...
      ..X.o.o..
      ...Xo....
      ..X.oX.o.
      .o.Xo.X..
      ....o....
      .o.Xo.o..
      ..X.o.o..
      ...X.o...
    .puzzle.
      .........
      .........
      ...oooo..
      ..o......
      ...ooooo.
      .........
      .ooooo...
      ..XX..o..
      .X...o...
      ..XX.....
      oX.......
    .puzzle.
      .........
      ....X....
      ..oX.Xo..
      ..oX.Xo..
      .o.X.X.o.
      .X....X..
      .o.X.X...
      ..X...X..
      ...X.X...
      ..X...X..
      ...X.....
    .puzzle.
      .........
      ..X.o.X..
      ....oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o......
      ..o.X.o..
      ...ooooo.
      ..X......
      oX.......
    .puzzle.
      .........
      .........
      ..oX.Xo..
      ..o...o..
      .........
      ...o.o...
      .o.o.o.o.
      ...o.o...
      ..X....o.
      ....o..X.
      ...Xo....
    .puzzle.
      .........
      ..o.X....
      ..oX.X.X.
      ..oX.X.X.
      ..o..X.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      ....o....
      ..o.o.o..
      ...o.o...
      ...X.....
      .o.oX.oo.
      ...X.....
      ...o.o...
      ..o.o....
      ..X.o.X..
      oX.......
    .puzzle.
      .........
      ....o.X..
      ..o.oX.X.
      ..o.o....
      ..o...o..
      ...o.o...
      ....o....
      .o..o..o.
      ....o.o..
      .XX.o....
      ...X.o...
    .puzzle.
      .........
      .........
      ..oooo...
      ......o..
      .ooooo...
      .........
      ...ooooo.
      ..o..XX..
      ...o...X.
      ..X..XX..
      oX.......

section
  h2
    a(style="font-size: 75%",href="https://erikdemaine.org/fonts/yinyang/") https://erikdemaine.org/fonts/yinyang/
  iframe(src="https://erikdemaine.org/fonts/yinyang/", style="background: white").r-stretch

section
  h2
    a(style="font-size: 100%",href="https://erikdemaine.org/fonts/yinyang/cccg.html") https://erikdemaine.org/fonts/yinyang/cccg.html
  //"clues":145,"black":72,"white":73,"branch":8282
  .puzzle.r-stretch.
    .................................
    ....XXX.o.XXXXX.o.......o.XXXXX..
    .......XoX.....Xo..ooo..oX.....X.
    ..o.X..XoX..X..Xo.o.X...oX..XXX..
    ..oX..X.oX.X..X.o.oX..X.o....ooo.
    ..oX.....X.X......oX......o.o.X..
    ..oX..X.oX.X..XXo.oX..X.o.o.o....
    ..o.X.oXoX..X..Xo.o.X.o.o.o...o..
    .......XoX.....Xo..ooo...o.ooo...
    o.o.XXX.o..XXXX.o.o.....o.XXXXX.o
    ...ooooo...ooooo...ooooo.X.......
    X...............................X

section
  h2
    a(style="font-size: 100%",href="https://erikdemaine.org/fonts/yinyang/cccg.html") https://erikdemaine.org/fonts/yinyang/cccg.html
  //"clues":145,"black":72,"white":73,"branch":8282
  .puzzle.r-stretch.
    ooooooooooooooooooooooooooooooooo
    oXXXXXXXoXXXXXXXoXXXXXXXoXXXXXXXo
    oXoooooXoXoooooXoXoooooXoXoooooXo
    oXoXXXoXoXoXXXoXoXoXXXoXoXoXXXXXo
    oXoXoXXXoXoXoXXXoXoXoXXXoXoXooooo
    oXoXoooooXoXoooooXoXoooooXoXoXXXo
    oXoXoXXXoXoXoXXXoXoXoXXXoXoXoXoXo
    oXoXXXoXoXoXXXoXoX.XXXoXoXoXXXoXo
    oXoooooXoXoooooXoXoooooXoooooooXo
    oXoXXXXXoXoXXXXXoXoXXXXXoXXXXXXXo
    oXoooooooXoooooooXoooooooXooooooo
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

section
  h2 History of Yin-Yang Puzzles
  .columns
    .column.fill
      ul
        li Published in 1994 in Japanese puzzle magazine <em>Puzzler</em> as &ldquo;白丸黒丸&rdquo; / <br> &ldquo;しろまるくろまる&rdquo; (&ldquo;<i>Shiromaru-Kuromaru</i>&rdquo;) 
          ul
            li <u>Meaning</u>: &ldquo;white circle / black circle&rdquo;
        li Introduced many times
          ul
            li &ldquo;<i>Yin-Yang</i>&rdquo; seems most popular today
    .column
      a(href="http://hiroshioka1125.life.coocan.jp/puzzle_book_collection/puzzler/101-150/150_199405/150_199405.html")
        img(src="puzzler_cover.jpg",style="width:450px")
  .url
    a(href="http://hiroshioka1125.life.coocan.jp/puzzle_book_collection/puzzler/101-150/150_199405/150_199405.html") http://hiroshioka1125.life.coocan.jp/puzzle_book_collection/puzzler/101-150/150_199405/150_199405.html

section
  h2 Complexity of Puzzles
  ul
    li $>30$ pencil &amp; paper puzzles proved NP-hard
    li Many relate to other problems in TCS: <!--computer science:-->
      ul
        li <b>Numberlink</b> <cite>[Kotsuma &amp; Takenaga 2010]</cite> &mdash; <br> vertex disjoint paths
        li <b>Spiral Galaxies</b> <cite>[DLS 2015]</cite>, <b>Tatamibari</b> <cite>[ABDDLL 2020]</cite> &mdash; partition into rectangles
        li <b>Slitherlink</b> <cite>[Yato &amp; Seta 2003]</cite>, <b>The Witness</b> <cite>[ABDHHKLR'18]</cite> &mdash; Hamiltonian path
        li <b>Masyu</b> <cite>[Friedman 2002]</cite> &mdash; angle-restricted tours
        li <b>Path Puzzles</b> <cite>[BDDHKK 2020]</cite> &mdash; discrete tomography

section
  h2 Related Graph Partitioning
  ul
    li Often looking for partitions which are <b>connected</b>, <b>balanced</b>, and <b>compact</b>
    li <b>NP-complete</b> to find balanced partition in grid graphs for:
    ul
      li 2 colors in weighted graphs, even with only three rows <cite>[BLLS 1998]</cite>
      li 3 colors in unweighted graphs <cite>[BNP 2018]</cite>
      li $k$ colors in solid grid graphs <cite>[Feldmann 2013]</cite>
    li Polynomial-time algorithms for <b>approximating</b> balanced partitions in planar graphs <cite>[HZGX 2021]</cite>

section
  h2 Tree-Residue Vertex Breaking (TRVB) &nbsp;
    cite [Demaine &amp; Rudoy 2018]
  ul
    li Reduce from TRVB in 4-regular planar multigraphs, which is NP-complete
    li Given a graph, is there a set of vertices that can be <b>broken</b> so the resulting graph is a <b>tree</b>?
  img(src="TRVB_definition.svg").invert.r-stretch

section
  h2 Tree-Residue Vertex Breaking (TRVB) &nbsp;
    cite [Demaine &amp; Rudoy 2018]
  ul
    li Reduce from TRVB in 4-regular planar multigraphs, which is NP-complete
    li Given a graph, is there a set of vertices that can be <b>broken</b> so the resulting graph is a <b>tree</b>?
  .columns.r-stretch
    .column.fill
      img(src="TRVB_input.svg").w-100.invert
    .column.arrow
    .column.fill
      img(src="TRVB_output.svg").w-100.invert

section
  h2 Grid Graph Connected Partition / Yin-Yang without $2 \times 2$ Rule
  .columns
    .column.fill
      .puzzle.no2x2.
        ooooo
        XX.oo
        oo.XX
        XX.oo
        oo.XX
        ooooo
      div TRVB vertex
    .column.space
    .column.fill
      .puzzle.no2x2.
        ooooo
        XXXoo
        ooXXX
        XXXoo
        ooXXX
        ooooo
      div <b>Unbroken</b> vertex
    .column.space
    .column.fill
      .puzzle.no2x2.
        ooooo
        XXooo
        oooXX
        XXooo
        oooXX
        ooooo
      div <b>Broken</b> vertex

section
  h2 Tiling the Gadgets ($9 \times 9$)
  .columns.r-stretch
    .column.fill
      .puzzle.no2x2.
        oooooXooo
        oooooXooo
        XXX.oXoXX
        ooo.XXoXo
        oXX.oooXo
        oXo.XXXXo
        oXooooooo
        oXXXXXooo
        oooooXooo
      div Tilable vertex gadget
    .column.space
    .column.fill
      .puzzle.no2x2.
        ooooooooo
        ooooooooo
        oooooXXXX>
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
      div Tilable corner gadget

section
  h2 Full Reduction Example
  .columns.r-stretch
    .column
      img(src="TRVB_input.svg", style="width: 360px").w-100.invert
    .column.arrow
    .column.fill.puzzle.no2x2.
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      oooooooooooooooooooooooXXXXXXXXXXXXXXXXXXXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      ooooooooooooooXXXXXXX.oXoXXXXXXXXooooooooXooo
      ooooooooooooooXoooooo.XXoXooooooXooooooooXooo
      ooooooooooooooXooooXX.oooXooooooXooooooooXooo
      ooooooooooooooXooooXo.XXXXooooooXooooooooXooo
      ooooooooooooooXooooXooooooooooooXooooooooXooo
      ooooooooooooooXooooXXXXXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      oooooXXXXXXX.oXoXXXXX.oXoXXXXX.oXoXXXXXXXXooo
      oooooXoooooo.XXoXoooo.XXoXoooo.XXoXoooooooooo
      oooooXooooXX.oooXooXX.oooXooXX.oooXoooooooooo
      oooooXooooXo.XXXXooXo.XXXXooXo.XXXXoooooooooo
      oooooXooooXooooooooXooooooooXoooooooooooooooo
      oooooXooooXXXXXooooXXXXXooooXXXXXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXXXXXXX.oXoXXXXXXXXoooooooooooo
      oooooXooooooooooooooo.XXoXooooooooooooooooooo
      oooooXoooooooooooooXX.oooXooooooooooooooooooo
      oooooXoooooooooooooXo.XXXXooooooooooooooooooo
      oooooXoooooooooooooXooooooooooooooooooooooooo
      oooooXoooooooooooooXXXXXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXXXXXXXXXXXXXXXXXXXooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo

section
  h2 Full Reduction Example
  .columns.r-stretch
    .column
      img(src="TRVB_output.svg", style="width: 360px").w-100.invert
    .column.arrow
    .column.fill.puzzle.no2x2.
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      oooooooooooooooooooooooXXXXXXXXXXXXXXXXXXXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      oooooooooooooooooooooooXoooooooooooooooooXooo
      ooooooooooooooXXXXXXX%oXoXXXXXXXXooooooooXooo
      ooooooooooooooXoooooo%XXoXooooooXooooooooXooo
      ooooooooooooooXooooXX%oooXooooooXooooooooXooo
      ooooooooooooooXooooXo%XXXXooooooXooooooooXooo
      ooooooooooooooXooooXooooooooooooXooooooooXooo
      ooooooooooooooXooooXXXXXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      ooooooooooooooXooooooooXooooooooXooooooooXooo
      oooooXXXXXXX0oXoXXXXX%oXoXXXXX0oXoXXXXXXXXooo
      oooooXoooooo0XXoXoooo%XXoXoooo0XXoXoooooooooo
      oooooXooooXX0oooXooXX%oooXooXX0oooXoooooooooo
      oooooXooooXo0XXXXooXo%XXXXooXo0XXXXoooooooooo
      oooooXooooXooooooooXooooooooXoooooooooooooooo
      oooooXooooXXXXXooooXXXXXooooXXXXXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXooooooooXooooooooXoooooooooooo
      oooooXooooooooXXXXXXX%oXoXXXXXXXXoooooooooooo
      oooooXooooooooooooooo%XXoXooooooooooooooooooo
      oooooXoooooooooooooXX%oooXooooooooooooooooooo
      oooooXoooooooooooooXo%XXXXooooooooooooooooooo
      oooooXoooooooooooooXooooooooooooooooooooooooo
      oooooXoooooooooooooXXXXXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXoooooooooooooooooXooooooooooooooooooooo
      oooooXXXXXXXXXXXXXXXXXXXooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo
      ooooooooooooooooooooooooooooooooooooooooooooo

section
  h2 Grid Graph Tree Partition / <br> Yin-Yang with $2 \times 2$ Rule
  .puzzle.r-stretch.
    XoXoXoXoXoX
    XoooooXoooX
    XoX.X.X.XoX
    XoXoXoXoXoX
    Xo.......oX
    X.oXoXoXo.X
    X.oXoXoXo.X
    Xo.......oX
    XoXoXoXoXoX
    XoXoXoXoXoX
    XoXoXoXoXoX
  div TRVB vertex gadget

section
  h2 Grid Graph Tree Partition / <br> Yin-Yang with $2 \times 2$ Rule
  .columns.r-stretch
    //.column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoX.X.X.XoX
        XoXoXoXoXoX
        Xo.......oX
        X.oXoXoXo.X
        X.oXoXoXo.X
        Xo.......oX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div TRVB vertex
    //.column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoXXXXXXXoX
        XoXoXoXoXoX
        Xo0000000oX
        XXoXoXoXoXX
        X0oXoXoXo0X
        XoXXXXXXXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div <b>Unbroken</b> vertex
    .column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoX0X0X0XoX
        XoXoXoXoXoX
        XoXXXXXXXoX
        X0oXoXoXo0X
        XXoXoXoXoXX
        Xo0000000oX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div <b>Broken</b> vertex

section
  h2 Tiling the Gadgets ($16 \times 16$)
  .columns.r-stretch
    .column.fill
      .puzzle.
        XoXoXoXoXoXoXoXo
        XoooooooooXoXoXo
        XoXXXXXXXXXoXoXo
        XoXoXoooooXoooXo
        XoXoXoX.X.X.XoXo
        XoXoXoXoXoXoXoXo
        XoXoXo.......oXo
        XoXoX.oXoXoXo.Xo
        XoXoX.oXoXoXo.Xo
        XoXoXo.......oXo
        ooXoooXoXoXoXooo
        XoXXXXXoXoXoXXXX>
        XoooooooXoXoXoXo
        XXXXXXXXXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
      div Tilable vertex gadget
    .column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXooooooo
        XoXoXoXoXoXXXXXX
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
      div Tilable corner gadget

section
  h2 Full Reduction Example
  .columns.r-stretch
    .column
      img(src="TRVB_input.svg", style="width: 360px").w-100.invert
    .column.arrow
    .column.fill.puzzle.
      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooooooXoooooooooooooooooooooXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoooXoXoXoXoooooooooooooooXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoX.X.X.XoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXo.......oXoXoXoXo.......oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXo.......oXoXoXoXo.......oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoooooooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooooooooooXoXoXo
      XoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoooXoXoXoXoooooooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoooooooooooooooooooooooooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

section
  h2 Full Reduction Example
  .columns.r-stretch
    .column
      img(src="TRVB_output.svg", style="width: 360px").w-100.invert
    .column.arrow
    .column.fill.puzzle.
      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooooooXoooooooooooooooooooooXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX%X%X%XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo0000000oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX%oXoXoXo%XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX0oXoXoXo0XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo%%%%%%%oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoooXoXoXoXoooooooooooooooXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoX0X0X0XoXoXoXoXoX%X%X%XoXoXoXoXoX0X0X0XoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo%%%%%%%oXoXoXoXo0000000oXoXoXoXo%%%%%%%oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX0oXoXoXo0XoXoXoX%oXoXoXo%XoXoXoX0oXoXoXo0XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX%oXoXoXo%XoXoXoX0oXoXoXo0XoXoXoX%oXoXoXo%XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo0000000oXoXoXoXo%%%%%%%oXoXoXoXo0000000oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoooooooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooooooooooXoXoXo
      XoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX%X%X%XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo0000000oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX%oXoXoXo%XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX0oXoXoXo0XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo%%%%%%%oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoooXoXoXoXoooooooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoooooooooooooooooooooooooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

section
  h2 Open Problems
  ul
    li <b>ASP</b>- or <b>#P</b>-complete?
      ul
        li Our reduction is parsimonious, so results for TRVB would suffice
    //li What if we give few clues?
      ul
        li Still NP-hard with $o(n)$ clues?
    li <b>FPT</b> with respect to the number of initial clues?
      ul
        li Easy with respect to unfilled squares
    li Yin-Yang on hexagonal or triangular grids?
    li Graph/Tree partition in other special graphs?
    li Fun with more colors? (Still NP-hard)
