section
  h1(style="font-variant: small-caps") Yin-Yang Puzzles are NP-complete
  hr
  table.authors
    tr
      td
        h4 <u>Erik Demaine</u>
      td.sep @
      td MIT
    tr
      td
        h4 <u>Jayson Lynch</u>
      td.sep @
      td U. Waterloo
    tr
      td
        h4 Mikhail Rudoy
      td.sep @
      td LeapYear Tech.
    tr
      td
        h4 Yushi Uno
      td.sep @
      td Osaka Prefecture U.

section(data-transition="fade", data-transition-speed="slow")
  h2 Grid Graph Connected Partition
  ul
    li Given a partially 2-colored $m \times n$ grid graph
    li Complete so that each color class is <b>connected</b>
    li <u>Theorem:</u> <b>NP-complete</b>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.figure.
      oXXXX
      ooooX
      XooXX
      XXXXX
      XXXXX

section(data-transition="fade", data-transition-speed="slow")
  h2 Grid Graph Tree Partition
  ul
    li Given a partially 2-colored $m \times n$ grid graph
    li Complete so that each color class is <b>a tree</b>
    li <u>Theorem:</u> <b>NP-complete</b>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.figure.
      oXXXX
      ooooX
      XoXXX
      XoooX
      XXXXX

section(data-transition="fade", data-transition-speed="slow")
  h2 Yin-Yang Puzzles
  ul
    li Complete $m \times n$ board with black &amp; white circles:
    ol
      li Each color of circles orthogonally connected
      li No $2\times 2$ square is all the same color
  .columns.r-stretch
    .column.fill.puzzle.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.puzzle.
      oXXXX
      ooooX
      XoXXX
      XoooX
      XXXXX

section
  h2 Yin-Yang Results
  ul
    li Roughly equivalent to Grid Graph Tree Partition
    li Without $2 \times 2$ rule, roughly equivalent to <br> Grid Graph Connected Partition
    li <u>Theorem:</u> Both are <b>NP-complete</b>
  .columns.r-stretch
    .column.fill.figure.
      oX...
      .....
      Xo.XX
      .....
      ...XX
    .column.arrow
    .column.fill.puzzle.
      oX...
      .....
      Xo.XX
      .....
      ...XX

section
  h2 Yin-Yang $\approx$ Tree Partition
  ol
    li Connectivity properties are the same. Acyclic?
  table.side-by-side
    tr
      td 2. No $2 \times 2$ $\Rightarrow$ no 4-cycle
      td 3. <u>Lemma:</u> <br> no alternating $2 \times 2$
      td 4. $>4$-cycle separates, except at the boundary
    tr
      td.puzzle(style="height:200px").
        XX
        XX
      td.puzzle(style="height:200px").
        oX
        Xo
      td.puzzle(style="height:300px").
        ooo
        oXo
        ooo

section
  h2 Yin-Yang Font
  .font
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoooooXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXXXo
      oXXXooooo
      oooXoXXXo
      oXXXoXoXo
      oooXoooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXXXo
      oXoXooooo
      oXoXoXXXo
      oXoXXXoXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      ooXooooXo
      oXXXXXoXo
      ooXooooXo
      oXXXXXoXo
      ooXooooXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      ooXoooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXoXooooo
      oXoXoXXXo
      oXoXoXoXo
      oXoXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooXoXo
      oXXXoXoXo
      oooooXoXo
      oXXXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooXoXo
      oXXXXXoXo
      oooooooXo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoXooooo
      oXoXXXXXo
      oXoXoooXo
      oXoXoXoXo
      oXoXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXooo
      oXoXoXXXo
      oXoXooooo
      oXoXXXXXo
      oXooooooo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXoXXo
      oXooXooXo
      oXXoXXoXo
      oXoooXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoooXoXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXXXo
      oooXooooo
      oXXXXXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoooXo
      oXoXXXXXo
      oXoooooXo
      oXXXXXoXo
      oooooooXo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oooXoooXo
      oXXXoXoXo
      oooXoXXXo
      oXXXoXooo
      oooXoXXXo
      oXXXoXoXo
      oooXoXoXo
      oXXXoXoXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXoXXXXXo
      oXooooooo
      oXXXXXXXo
      oooooooXo
      oXXXXXoXo
      oXoooooXo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoXoXoXo
      oXoXoXoXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXoXooo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXooooooo
      oXXXXXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXXXoXo
      oXooXooXo
      oXXoXoXXo
      ooXoXoXoo
      oXXoXoXXo
      ooXoooXoo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXoXXXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoooooXo
      oXXXXXXXo
      ooooXoooo
      oXXXXXXXo
      oXoooooXo
      oXoXoXoXo
      oXXXoXXXo
      oXooooooo
    .puzzle.
      ooooooooo
      oXXXoXXXo
      oXoXoXoXo
      oXoXoXoXo
      oXoXXXoXo
      oXoooooXo
      oXXXoXXXo
      oooXoXooo
      oXoXoXoXo
      oXXXoXXXo
      oooXooooo
    .puzzle.
      ooooooooo
      oXXXXXXXo
      oXoooooXo
      oXXXXXoXo
      oooooooXo
      oXXXXXXXo
      oXooooooo
      oXoXXXXXo
      oXoooooXo
      oXXXXXXXo
      oXooooooo

section
  h2 Yin-Yang Font
  .font
    .puzzle.
      .........
      .........
      ...ooo...
      ..o...o..
      ..oX.o...
      ..o......
      ...o.o...
      ..o.o.o..
      ....o....
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      .........
      .o.X.o...
      ....o....
      .o.Xo.X..
      .....ooo.
      .oo.o.X..
      ....o....
      .oo..o...
      ..X......
      oX.......
    .puzzle.
      .........
      .........
      ...ooo...
      ..o...o..
      ..o.o....
      ..o..ooo.
      ..o...X..
      ..o.X..X.
      .......X.
      ..o.XXX..
      oXo......
    .puzzle.
      .........
      .........
      ..X.oo...
      ......o..
      ..X.oo...
      ......o..
      .oX.oo...
      ......o..
      .ooooo...
      ...X.....
      .oX......
    .puzzle.
      .........
      .....XX..
      ...o...X.
      ..o..XX..
      ..o.oooo.
      ..o......
      ..oX.ooo.
      ..o......
      ...ooo.X.
      ..o......
      oX.o.....
    .puzzle.
      .........
      ......X..
      ...oo..X.
      ..o.XXX..
      ..oX.....
      ..o.XXX..
      .......X.
      ..o.X.X..
      ..oX.X.X.
      ..o......
      oX.o.....
    .puzzle.
      .........
      ......X..
      ...oo..X.
      ..o...X..
      ..o..ooo.
      ..o.o.X..
      ..o.o....
      ..o...o..
      .o.ooo...
      ..X......
      oX.......
    .puzzle.
      .........
      ..X.o.X..
      ....oX.X.
      ..o.o....
      ...o.o...
      ..o......
      ..o.oX.X.
      ..o.oX.X.
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      ..X.X....
      ...X.X.o.
      ..X......
      ...X.X.o.
      ..X..XX..
      .o.X.X...
      ......X..
      .o.X.X...
      ..X...X..
      ...X.....
    .puzzle.
      .........
      .........
      ..oo..o..
      ....o.o..
      .ooo..o..
      ..X.o.o..
      .X.Xo.o..
      ....o.o..
      ...o..o..
      ......o..
      ......oXo
    .puzzle.
      .........
      ....o.X..
      ..o.o....
      ..o..o...
      ..o......
      ..oX.ooo.
      ..o......
      ..o..o...
      ..o.o....
      ..o.o.X..
      oX.o.....
    .puzzle.
      .........
      ..X...X..
      .X.Xo....
      .X.Xo.o..
      .X.Xo..o.
      ....o....
      ..o..ooo.
      ..o......
      ...ooooo.
      ..X..X...
      oX.......
    .puzzle.
      .........
      ..X.o.X..
      .X.Xo....
      .X.Xo.o..
      ....o.o..
      ..o.o.o..
      ..o.o.o..
      ..o...o..
      ..oX.Xo..
      ..o.X.o..
      oX.o.....
    .puzzle.
      .........
      ....o....
      ..o.o.o..
      ..o.o....
      ..oX.o...
      ...o.....
      ...o..o..
      .........
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      .........
      ...ooo...
      ..o.X.o..
      ..o...o..
      ..o.o.o..
      ...o..o..
      ......o..
      .ooooo...
      ..X....X.
      oX.......
    .puzzle.
      .........
      .........
      .oo..o...
      ....o.o..
      .oo.o.o..
      ....o....
      .oo.oX.X.
      ..X.o.X..
      ...X.ooo.
      ..X.X....
      ...X.....
    .puzzle.
      .........
      .........
      ...ooo...
      ..o.X.o..
      ..o...o..
      ..o.o.o..
      ..o..o...
      ..o......
      ...ooo...
      ......o..
      .....o.Xo
    .puzzle.
      ......o..
      .........
      .oo..o...
      ..X.o.o..
      ...Xo....
      ..X.oX.o.
      .o.Xo.X..
      ....o....
      .o.Xo.o..
      ..X.o.o..
      ...X.o...
    .puzzle.
      .........
      .........
      ...oooo..
      ..o......
      ...ooooo.
      .........
      .ooooo...
      ..XX..o..
      .X...o...
      ..XX.....
      oX.......
    .puzzle.
      .........
      ....X....
      ..oX.Xo..
      ..oX.Xo..
      .o.X.X.o.
      .X....X..
      .o.X.X...
      ..X...X..
      ...X.X...
      ..X...X..
      ...X.....
    .puzzle.
      .........
      ..X.o.X..
      ....oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o......
      ..o.X.o..
      ...ooooo.
      ..X......
      oX.......
    .puzzle.
      .........
      .........
      ..oX.Xo..
      ..o...o..
      .........
      ...o.o...
      .o.o.o.o.
      ...o.o...
      ..X....o.
      ....o..X.
      ...Xo....
    .puzzle.
      .........
      ..o.X....
      ..oX.X.X.
      ..oX.X.X.
      ..o..X.X.
      ..o.oX.X.
      ..o.oX.X.
      ..o.oX.X.
      ....oX.X.
      ..XXo.X..
      oX.......
    .puzzle.
      .........
      ....o....
      ..o.o.o..
      ...o.o...
      ...X.....
      .o.oX.oo.
      ...X.....
      ...o.o...
      ..o.o....
      ..X.o.X..
      oX.......
    .puzzle.
      .........
      ....o.X..
      ..o.oX.X.
      ..o.o....
      ..o...o..
      ...o.o...
      ....o....
      .o..o..o.
      ....o.o..
      .XX.o....
      ...X.o...
    .puzzle.
      .........
      .........
      ..oooo...
      ......o..
      .ooooo...
      .........
      ...ooooo.
      ..o..XX..
      ...o...X.
      ..X..XX..
      oX.......

section
  h2
    a(style="font-size: 75%",href="https://erikdemaine.org/fonts/yinyang/") https://erikdemaine.org/fonts/yinyang/
  iframe(src="https://erikdemaine.org/fonts/yinyang/", style="background: white").r-stretch

section
  h2
    a(style="font-size: 70%",href="https://erikdemaine.org/fonts/yinyang/") https://erikdemaine.org/fonts/yinyang/cccg/
  //"clues":145,"black":72,"white":73,"branch":8282
  .puzzle.r-stretch.
    .................................
    ....XXX.o.XXXXX.o.......o.XXXXX..
    .......XoX.....Xo..ooo..oX.....X.
    ..o.X..XoX..X..Xo.o.X...oX..XXX..
    ..oX..X.oX.X..X.o.oX..X.o....ooo.
    ..oX.....X.X......oX......o.o.X..
    ..oX..X.oX.X..XXo.oX..X.o.o.o....
    ..o.X.oXoX..X..Xo.o.X.o.o.o...o..
    .......XoX.....Xo..ooo...o.ooo...
    o.o.XXX.o..XXXX.o.o.....o.XXXXX.o
    ...ooooo...ooooo...ooooo.X.......
    X...............................X

section
  h2
    a(style="font-size: 70%",href="https://erikdemaine.org/fonts/yinyang/") https://erikdemaine.org/fonts/yinyang/cccg/
  //"clues":145,"black":72,"white":73,"branch":8282
  .puzzle.r-stretch.
    ooooooooooooooooooooooooooooooooo
    oXXXXXXXoXXXXXXXoXXXXXXXoXXXXXXXo
    oXoooooXoXoooooXoXoooooXoXoooooXo
    oXoXXXoXoXoXXXoXoXoXXXoXoXoXXXXXo
    oXoXoXXXoXoXoXXXoXoXoXXXoXoXooooo
    oXoXoooooXoXoooooXoXoooooXoXoXXXo
    oXoXoXXXoXoXoXXXoXoXoXXXoXoXoXoXo
    oXoXXXoXoXoXXXoXoX.XXXoXoXoXXXoXo
    oXoooooXoXoooooXoXoooooXoooooooXo
    oXoXXXXXoXoXXXXXoXoXXXXXoXXXXXXXo
    oXoooooooXoooooooXoooooooXooooooo
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

section
  h2 History of Yin-Yang Puzzles
  ul
    li Published in Japanese puzzle magazine <em>Puzzler </em> as ``白丸黒丸'' (``Shiromaru-Kuromaru'', which means ``white circle / black circle'').
    li Has been introduced multiple times with different names.
    li Yin-Yang puzzles seems to be the most popular recent name.

section
  h2 History
  ul
    li Partitioning PTAS etc.??

section
  h2 Complexity of Puzzles
  ul
    li Over 30 NP-hardness proofs for pencil and paper style puzzles
    li Many relate to problems/constraints in other aspects of computer science
    ul
      li Numberlink [Kotsuma, Takenaga '10] - vertex disjoint paths
      li Spiral Galaxy [Friedman '02] and Tatamibari [ABDDLL'20] - partition into rectangles
      li Slitherlink [Yato, Seta '03] and The Witness [ABDHHKLR'18] - Hamiltonian Path
      li Masyu [Friedman '02] - angle restricted tours

section
  h2 Related Graph Partitioning Work
  ul
    li Often looking for partitions which are <i>connected</i>, <i>balanced</i>, and <i>compact</i>.
    li For grid graphs it is NP-complete to find a balanced partition for:
    ul
      li 2-colors in weighted graphs, even with only three rows [BLLS'98]
      li 3-colors in unweighted graphs [BNP'18]
      li k-colors in solid grid graphs [Fedlmann'13]
    li Polynomial time algorithms for approximating balanced partitions in planar graphs [HZGX'21].

section
  h2 Tree-Residue Vertex Breaking (TRVB)
  ul
    li Reduce from TRVB in 4-regular planar graphs
    ul
      li [Demaine, Rudoy `18]
    li Given a graph, is there a set of vertices which can be "broken" so the resulting graph is a tree?
  

section
  h2 Tree-Residue Vertex Breaking (TRVB)
  img(src="TRVB_definition.svg", style="height:400px; margin: 0; filter: invert(1)")
  p Breaking a vertex

section
  h2 Tree-Residue Vertex Breaking (TRVB)
  .columns
    .column.fill
      img(src="TRVB_input.svg").w-100.invert
      div Instance
    .column.arrow
    .column.fill
      img(src="TRVB_output.svg").w-100.invert
      div Solution

section
  h2 Connected Partitioning / No $2 \times 2$ Proof
  .columns
    .column.fill
      .puzzle.
        ooooo
        XX.oo
        oo.XX
        XX.oo
        oo.XX
        ooooo
      div TRVB vertex
    .column.space
    .column.fill
      .puzzle.
        ooooo
        XXooo
        oooXX
        XXooo
        oooXX
        ooooo
      div <b>Broken</b> vertex
    .column.space
    .column.fill
      .puzzle.
        ooooo
        XXXoo
        ooXXX
        XXXoo
        ooXXX
        ooooo
      div <b>Unbroken</b> vertex

section
  h2 Tiling the gadgets ($9 \times 9$)
  .columns.r-stretch
    .column.fill
      .puzzle.
        ooooooooo
        ooooooooo
        oooooXXXX>
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
        oooooXooo
      div Edges in tiles
    .column.space
    .column.fill
      .puzzle.
        oooooXooo
        oooooXooo
        XXX.oXoXX
        ooo.XXoXo
        oXX.oooXo
        oXo.XXXXo
        oXooooooo
        oXXXXXooo
        oooooXooo
      div Full vertex tile

section
  h2 Connected Partitioning / No $2 \times 2$ Proof
  ul
    li Fitting-together big figure (NEW)

section
  h2 Tree Partitioning / $2 \times 2$ Proof
  .puzzle.r-stretch.
    XoXoXoXoXoX
    XoooooXoooX
    XoX.X.X.XoX
    XoXoXoXoXoX
    Xo.......oX
    X.oXoXoXo.X
    X.oXoXoXo.X
    Xo.......oX
    XoXoXoXoXoX
    XoXoXoXoXoX
    XoXoXoXoXoX
  p TRVB vertex gadget

section
  h2 Tree Partitioning / $2 \times 2$ Proof
  .columns.r-stretch
    .column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoX.X.X.XoX
        XoXoXoXoXoX
        Xo.......oX
        X.oXoXoXo.X
        X.oXoXoXo.X
        Xo.......oX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div TRVB vertex
    .column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoX.X.X.XoX
        XoXoXoXoXoX
        Xo.......oX
        X.oXoXoXo.X
        X.oXoXoXo.X
        Xo.......oX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div <b>Broken</b> vertex
    .column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoX
        XoooooXoooX
        XoX.X.X.XoX
        XoXoXoXoXoX
        Xo.......oX
        X.oXoXoXo.X
        X.oXoXoXo.X
        Xo.......oX
        XoXoXoXoXoX
        XoXoXoXoXoX
        XoXoXoXoXoX
      div <b>Unbroken</b> vertex

section
  h2 Tiling the Gadgets ($16 \times 16$)
  .columns.r-stretch
    .column.fill
      .puzzle.
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXooooooo
        XoXoXoXoXoXXXXXX
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
      div Edges in tiles
    .column.space
    .column.fill
      .puzzle.
        XoXoXoXoXoXoXoXo
        XoooooooooXoXoXo
        XoXXXXXXXXXoXoXo
        XoXoXoooooXoooXo
        XoXoXoX.X.X.XoXo
        XoXoXoXoXoXoXoXo
        XoXoXo.......oXo
        XoXoX.oXoXoXo.Xo
        XoXoX.oXoXoXo.Xo
        XoXoXo.......oXo
        ooXoooXoXoXoXooo
        XoXXXXXoXoXoXXXX>
        XoooooooXoXoXoXo
        XXXXXXXXXoXoXoXo
        XoXoXoXoXoXoXoXo
        XoXoXoXoXoXoXoXo
      div Full vertex tile

section
  h2 Tree Partitioning Example
  .columns.r-stretch
    .column
      img(src="TRVB_input.svg", style="width: 360px").w-100.invert
    .column.arrow
    .column.fill.puzzle.
      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooooooXoooooooooooooooooooooXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoooXoXoXoXoooooooooooooooXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoX.X.X.XoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXo.......oXoXoXoXo.......oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXo.......oXoXoXoXo.......oXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoooooooooXoooXoXoXoXoooooXoooXoXoXoXoooooXoooXoXoXoXoooooooooooooXoXoXo
      XoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXo
      XoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooXoooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.X.X.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoX.oXoXoXo.XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo.......oXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoooXoXoXoXoooooooooooooXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXoXXXXXoXoXoXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoooooooooooooooooooooooooooooooXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      XoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXoXo
      oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

section
  h2 Open Problems
  ul
    li ASP or #P-complete?
    ul
      li Our reduction is parsimonious, so results for TRVB would suffice
    li What if we give few clues?
    ul
      li Is it still NP-hard with $o(n)$ clues given?
      li Is it FPT with respect to the number of initial clues?
    li Hexagonal or triangular grids?
    li Graph/Tree partition in other graphs?

